{% extends 'index.html' %}
{% block header %}
<!-- HEADER -->
<header class="container-fluid p-0" id="header_div">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="index.html" id="logo"></a>
            <a class="navbar-brand" href="index.html">btcblockexplorer.io</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- ENTER CODE FOR BUTTONS -->
                </ul>

                <div id="headerSearch">
                    <!-- HEADER SEARCH -->
                </div>
            </div>
        </div>
    </nav>
</header>
{% endblock %}

{% block search %}
<!-- SEARCH -->
<div id="search_field">
    <div class="container">
      <form class="d-flex" id="form" onsubmit="return false">
        <input class="form-control me-2" type="search" placeholder="Enter Bitcoin address" aria-label="Search"
          id="userInput" />
        <button class="btn btn-outline-success" type="submit" id="searchButton">
          Search
        </button>
      </form>
    </div>
  </div>

  <div id="search_error"></div>
{% endblock %}