<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>bitTracker.io</title>
</head>

<body>
  <div class="main_page">

    <!-- CONTENT MODULE -->
    <main class="main_container">

        {% block header %}{% endblock header %}

      <!-- DATA -->
      <div class="container" id="data_container">
        <span id="address_container_div"></span>
        <span id="not_found"></span>
        <span id="tx_container_div"></span>
      </div>
      
        {% block search %}{% endblock search %}

    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">About</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2021 bitTracker, Inc</p>
    </footer>
  </div>
</body>

</html>