<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>btcblockexplorer.io</title>
</head>

<body>
  <div class="main_page">
    <!-- HEADER -->
    <header class="container-fluid p-0" id="header_div">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a href="index.html" id="logo"></a>
          <a class="navbar-brand" href="index.html">&nbsp btcblockexplorer.io</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- ENTER CODE FOR BUTTONS -->
            </ul>

            <div id="headerSearch">
              <!-- HEADER SEARCH -->
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- CONTENT MODULE -->
    <main class="main_container">


      <!-- DATA -->
      <div class="container" id="data_container">
        <span id="address_container_div"></span>
        <span id="not_found"></span>
        <span id="tx_container_div"></span>
      </div>
      <!-- SEARCH -->
      <div id="search_field">
        <div class="container">
          <form class="d-flex" id="form" onsubmit="return false">
            <input class="form-control me-2" type="search" placeholder="Enter Bitcoin address" aria-label="Search"
              id="userInput" />
            <button class="btn btn-outline-success" type="submit" id="searchButton">
              Search
            </button>
          </form>
        </div>
      </div>

      <div id="search_error"></div>
    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Home</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Features</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">About</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2021 btcblockexplorer.io, Inc</p>
    </footer>
  </div>
</body>

</html>
