body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background-color: #F7931A;
    outline: 1px solid #008000;
}

/* LOGO */
.logo {
    width: 38px;
    height: 38px;
    margin-right: 5px;
}

/* TX Ammount */
.tx_ammount {
    display: inline;
    float: right;
    text-align: right;
    color: #000000;
}

/* TX ammount minus */
.tx_ammount_minus {
    display: inline;
    float: right;
    text-align: right;
    color: red;
}

/* Hash url */
.hash_link {
    color: #000000;
    overflow-wrap: anywhere;
}

/* Hash url hover */
.hash_link:hover {
    color: #120edb;
}

/* Address block */
.address_container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.address_block {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.balance_block {
    display: flex;
    flex-direction: row;
    color: #000000;
    flex-flow: row wrap;
}

.hide {
    display: none;
}

.transactionsBlock {
    display: flex;
    align-items: flex-end;
    margin-top: 65px;
}

.headerSearch {
    width: 500px;
}

@media (max-width:991px) {
    .headerSearch {
        width: auto;
    }
}

@media (max-width:450px) {
    .balance {
        margin-left: 0px;
    }

    .balanceText {
        margin-top: 16.5px;
    }

    .transactionsBlock {
        margin-top: 16.5px;
    }

    .address_container {
        padding-left: 0px;
    }
}

/* QRCode */
.qrImg {
    width: 137px;
    height: 137px;
}

/* Pagination */
.pagination_wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    height: 38px;
}

.pagination_container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 5px 0;
}

.main_page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main_container {
    display: flex;
    justify-content: center;
    margin-top: auto;
}