{% extends 'mainapp/base.html' %}

{% load static %}

{% block content %}
<!-- ADDRESS DATA -->
<div class="container" id="data_container">
    <div class="container mt-3" id="address_container_div_mt-3" style="padding: 0;">
        <div class="alert alert-light address_container">
            <div>
                <img src="{% static 'img/qr.png' %}" class="qrImg">
            </div>
            <div class="address_block">
                <div style="color:black">
                    <div class="copyContainer">
                        <span class="far fa-copy"></span>
                    </div>
                    <div>
                        <span style="overflow-wrap: anywhere;">{{ address_details.address }}</span>
                    </div>
                </div>
                <div class="balance_block">
                    <div class="curr">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <i class="fa-solid fa-bitcoin-sign"></i>
                    </div>
                    <div class="balanceText">BTC balance</div>  
                    <div><span class="balance">{{ balance }}</span></div>
                </div>
                <div class="transactionsBlock">
                    <div>
                        <span style="color:black">transactions <b id="number_of_tx">{{ address_details.n_tx }}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TX DATA -->
<div class="container mt-3" id="table-body">
    {% for key, value in data.items %}
    <div class="alert alert-light" style="box-shadow: 0 0 5px rgba(0,0,0,0.5);">
        <span style="color:black; margin-right: 8px;">{{ value.0 }}</span>
        <span id="tx_ammount" class="tx_ammount">{{ value.2 }}</span>
        <span id="tx_hash"><a href="#" class="hash_link">{{ value.1 }}</a></span>
    </div>
    {% endfor %}
</div>
</div>
</div>
</div>
</div>
{% endblock %}