{% load static %}

{% load humanize %}

{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>btcblockexplorer.io</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" media="screen">
</head>

<body>
    <div class="main_page">

        <!-- HEADER -->
        <header class="container-fluid p-0" id="header_div">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a href="{% url 'mainapp:home' %}"><img class="logo" src="{% static 'img/logo.png' %}"
                            alt="logo"></a>
                    <a class="navbar-brand" href="{% url 'mainapp:home' %}">btcblockexplorer.io</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <!-- ENTER CODE FOR BUTTONS -->
                        </ul>

                        <!-- SEARCH -->
                        <div>
                            <div class="container headerSearch">
                                <form class="d-flex" method="get" name="user_from_header">
                                    {% csrf_token %}
                                    <input class="form-control me-2" type="text" placeholder="Enter Bitcoin address"
                                        name="address" />
                                    <button class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-- ADDRESS DATA -->
        <div class="container" id="data_container">
            <div class="container mt-3" id="address_container_div_mt-3" style="padding: 0;">
                <div class="alert alert-light address_container">
                    <div>
                        <img src="{% static 'img/qr.png' %}" class="qrImg">
                    </div>
                    <div class="address_block">
                        <div style="color:black">
                            <div class="copyContainer">
                                <span class="far fa-copy"></span>
                            </div>
                            <div>
                                <span style="overflow-wrap: anywhere;">{{ address_details.address }}</span>
                            </div>
                        </div>
                        <div class="balance_block">
                            <div class="curr">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <i class="fa-solid fa-bitcoin-sign"></i>
                            </div>
                            <a style="text-decoration: none;" class="balanceToggle">
                                <span class="btcBalance" style="color: green; font-weight: bold; margin-left: 4px; cursor: pointer;">{{ balance }} ₿</span>
                                <span class="usdBalance hide" style="color: green; font-weight: bold; margin-left: 4px; cursor: pointer;">{{ balance|mul:blockchair_data.data.market_price_usd|floatformat:2 }} $</span>
                            </a>
                        </div>
                        <div class="transactionsBlock">
                            <div>
                                <span style="color:black">transactions <b id="number_of_tx">{{ address_details.n_tx }}</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TX DATA -->
        <div class="container mt-3" id="table-body">
            {% for i in page_obj %}
            <div class="alert alert-light" style="box-shadow: 0 0 5px rgba(0,0,0,0.5);">
                <span style="color:black; margin-right: 8px;">{{ i.0 }}</span>
                {% if i.2 < 0 %} <span class="tx_ammount_minus">{{ i.2|floatformat:8|intcomma }}</span>
                    {% else %}
                    <span class="tx_ammount">{{ i.2|floatformat:8|intcomma }}</span>
                    {% endif %}
                    <span id="tx_hash"><a href="#" class="hash_link">{{ i.1 }}</a></span>
            </div>
            {% endfor %}
        </div>

        <!-- PAGINATION -->
        <div class="pagination_container">
            <div id="pagination_wrapper" class="pagination_wrapper">

                {% if page_obj.has_previous %}
                <a href="?address={{ address_details.address }}&page={{ page_obj.previous_page_number }}"
                    class="page page-link" style="border-radius: 4px 0 0 4px; border: 0; color: #000000">«</a>
                {% if page_obj.number > 3 %}
                <a href="?address={{ address_details.address }}&page=1" class="page page-link"
                    style="border-radius: 4px 0 0 4px; border: 0; color: #000000">1</a>
                {% if page_obj.number > 4 %}
                <a class="page page-link" style="border-radius: 0px; border: 0; color: #000000">...</a>
                {% endif %}
                {% endif %}
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a href="?address={{ address_details.address }}&page={{ num }}" class="page page-link"
                    style="border-radius: 4px 0 0 4px; border: 0; color: #000000">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a
                    href="?address={{ address_details.address }}&page={{ num }}" class="page page-link"
                    style="border-radius: 0px; border: 0; color: #000000">{{ num }}</a>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <a class="page page-link"
                        style="border-radius: 0; border: 0; color: #000000">...</a>
                        <a href="?address={{ address_details.address }}&page={{ page_obj.paginator.num_pages }}"
                            class="page page-link" style="border-radius: 0px; border: 0; color: #000000">{{ page_obj.paginator.num_pages }}</a>
                        {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <a
                            href="?address={{ address_details.address }}&page={{ page_obj.paginator.num_pages }}"
                            class="page page-link" style="border-radius: 0px; border: 0; color: #000000">{{ page_obj.paginator.num_pages }}</a>
                            {% endif %}
                            <a href="?address={{ address_details.address }}&page={{ page_obj.next_page_number }}"
                                class="page page-link"
                                style="border-radius: 0 4px 4px 0; border: 0; color: #000000">»</a>
                            {% endif %}

            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">Pricing</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">FAQs</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link px-2 text-muted">About</a>
                </li>
            </ul>
            <p class="text-center text-muted">© 2021 btcblockexplorer, Inc</p>
        </footer>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="{% static 'js/app.js' %}"></script>

</html>